<section>
	<div id="initUser" class="init-user hidden">
		<div id="initVideoContainer" class="init-video-container">
			<video id="initVideo" playsinline="true" autoplay="true" class="mirror" poster="{{ module_path }}/assets/images/loader.gif"></video>
		</div>
		<div class="initComands">
			<button id="initVideoAudioRefreshButton" class="bi bi-arrow-repeat"></button>
			<button id="initVideoButton" class="bi bi-camera-video-fill"></button>
			<button id="initAudioButton" class="bi bi-mic-fill"></button>
			<button id="initAudioVideoButton" class="bi bi-eye-fill"></button>
			<button id="initStartScreenButton" class="bi bi-display hidden"></button>
			<button id="initStopScreenButton" class="bi bi-stop-circle-fill hidden"></button>
			<button id="initVideoMirrorButton" class="bi bi-arrow-left-right"></button>
			<button id="initUsernameEmojiButton" class="bi bi-emoji-smile-fill"></button>
			<select id="initVideoSelect" class="form-select text-light bg-dark"></select>
			<select id="initMicrophoneSelect" class="form-select text-light bg-dark"></select>
			<select id="initSpeakerSelect" class="form-select text-light bg-dark"></select>
		</div>
	</div>
	<div id="usernameEmoji" class="usernameEmoji fadein center hidden"></div>
</section>
