<div id="loadingDiv" class="center pulsate">
	<h1>Loading</h1>
	<img class="loading-img" src="{{ module_path }}/assets/images/loading.gif""/>
    <pre>{{'Please allow the camera or microphone access to use this app.'|t}}</pre>
</div>
