<section id="lobby" class="fadein center">
	<header id="lobbyHeader" class="lobby-header">
		<div id="lobbyHeaderTitle" class="lobby-header-title">Lobby users</div>
	</header>
	<main>
		<div id="lobbyUsers">
			<table id="lobbyTb">
				<tr>
					<th></th>
					<th></th>
					<th></th><i class="bi bi-camera-video-fill"></i>
					<th></th>
				</tr>
				<tr id="lobbyAll">
					<td>&nbsp;<i class="fas fa-users fa-lg"></i>
					</td>
					<td>All</td>
					<td>
						<button id="lobbyAcceptAllBtn" class="fas fa-check"></button>
					</td>
					<td>
						<button id="lobbyRejectAllBtn" class="fas fa-times"></button>
					</td>
				</tr>
			</table>
		</div>
	</main>
</section>
